@import 'base/variable'
@import 'base/mixin'
@import 'base/title'

@import 'block/header'
@import 'block/promo'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: "Montserrat", sans-serif

.container
    padding: 0 25px