body {
    background: url(backgrounds/background_1.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: "Muli",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    padding: 0;
    margin: 0;
}

.top_inks {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 3px;
    position: relative;
    cursor: pointer;
}
.top_inks:hover{
    color: green;
}
.top_inks:after {
    color: green;
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: green; /* Цвет подчеркивания при исчезании линии*/
    transition: width .5s; /* Время эффекта */
}

.top_inks:hover:after {
    color: green;
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: green; /* Цвет подчеркивания при появлении линии*/
    transition: width .5s;  /* Время эффекта */
    
}
     

.basic_url {
    list-style-type: none; /* Убираем маркеры */
    display: inline-block;
    padding-left: 50px;
    padding-top: 20px;
}

.basic_urls {
    text-align: center;
    padding-right: 50px;
}

.basic_info {
    color: #fff;
    text-align: center;
    margin-top: 150px;
    font-family: "Muli",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h1 {
    font-size: 3.3rem;
    font-weight: 900;
    color: #fff;
}

.description_under_the_heading_1  {
    font-size: 20px;
    font-weight: 300;

}

.button-1 {
    cursor: pointer;
    margin-top: 10px;
    padding: 15px 60px;
    color: #ffffff;
    font-size: 14px;
    letter-spacing:2.52px;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #ffffff;
    letter-spacing: 2.52px;
    transition: ease-in .20s;

}

.button-1:hover{
    background-color: green;
    color: white;
    border-color: green;
}   
.our_advantages-block {
    background-color: white;
    margin-top: 200px;
    padding-bottom: 210px;
}


.our_advantages-title, 
.about_us-title {
    padding-top: 50px;
    font-size: 3.3rem;
    font-weight: 900;
    color: #000;
    text-align: center;
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

.advantages {
    display: inline-block;
}
.advantages_border{
    display: inline-block;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: 3px solid transparent;
}

.advantages_border:hover {
    border: 3px solid #65994C; /* Параметры рамки */
    border-radius: 10px; /* Радиус скругления */
    transition:  0.5s; /* Время эффекта */
    transition-duration: 0.5s;

   } 
.advantages_border {
    transition: .35s;
}


.our_advantages {
    text-align: center;
}

.advantages_title {
    padding: 0px 0px 0px 0px;
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    color: green;
}

.advantages_img {
    height: 100px;
    width: 100px;
    padding-top: 30px;
}

.advantages_text{
    display: inline-block;
    padding: 0;
    line-height: 1.7;
    font-weight: 300;
    font-size: 1.1rem;
    color: #989898;
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 0px 30px;
}

.about_us {
    background: url(backgrounds/young-healthy-man-athlete-doing-exercise-with-the-ropes-in-gym-single-male-model-practicing-hard-and-training-his-upper-body-concept-of-healthy-lifestyle-sport-fitness-bodybuilding-wellbeing.jpg) no-repeat center center fixed;
    background-size: cover;
    padding-bottom: 100px;
}

.about_us-block {
    padding-top: 70px;
    text-align: center;
}

.about_us-title {
    color: #fff;
}

.about_us-text {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.7;
    color: #fff;
}
.get_started{
    padding-bottom: 4px;
    border-bottom: 1px solid white;
    text-decoration: none;
    color: white;
}

.get_started:hover{
    color: green;
    border-bottom: 1px solid green;
    transition: .3s;
}

.get_started {
    transition: .35s;
}


.schedule-block {
    background-color: #151515;
  
}

.schedule {
    text-align: center;
    padding-bottom: 150px;
}

.schedule-title {
    color:#fff;
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 10px;

}

.classtime-table{
    color: white;
    text-align: center;
}

.classtime-table table tbody, tr, td {
    text-align: center;
    width: 100px;
    position: relative;
    z-index: 1;
    line-height: 1.5;
    text-align: center;
    background: #212121;
    padding: 26px 10px 28px;
    border-right: 1px solid #171717;
    border-bottom: 1px solid #171717;
    
}
h6 {
    margin: 0;
    padding: 0;
    color: green;
    font-size: 15px;
    padding-top: 5px;
}

th {
    font-size: 15px;
    padding: 15px 40px;
    border-collapse: collapse;
    border-bottom: 2px solid #F56433;
    border-top: 2px solid #F56433;
    color: #F56433;
}

table {
    border-collapse: collapse;
}

.workout-time{
    font-weight: bold;
}

.tabs {
   position: relative;
   text-align: center;
  
}

.tabs input[type=radio] {
   display: none;
}

.tabs label {
   position: relative;
   z-index: 1;
   display: inline-block;
   width: 130px;
   height: 30px;
   line-height: 30px;
   color: white;
   font-size: 14px;
   cursor: pointer;
}

.switch {
   position: absolute;
   top: 0;
   left: 50%;
   height: 30px;
   width: 130px;
   background: green;
   border-radius: 40px;
   transform: translateX(-130px);
   transition: transform .5s;
}

.tabs section {
   display: none;
   padding: 40px 0 0;
   animation: scale .7s ease-in-out;
}

@keyframes scale {
   0% {
      transform: scale(0.9);
      opacity: 0;
   }

   50% {
      transform: scale(1.01);
      opacity: 0.5;
   }

   100% {
      transform: scale(1);
      opacity: 1;
   }
}

.tabs #tab1:checked~#content1,
.tabs #tab2:checked~#content2 {
   display: block;
}

.tabs input[type=radio]:checked+label+.switch {
   color: white;
}

.tabs input[type=radio]:not(:checked)+label {
   color: green;
}

.tabs input[type="radio"]:checked+label+.switch,
.tabs input[type="radio"]:checked+label:nth-of-type(n)+.switch {
   transform: translateX(0);
}

.item-inner {
   padding: 30px 20px;
   border-radius: 10px;
   background: white;
   box-shadow: 0 2px 40px rgba(47, 43, 50, .2);
}

.pricing-tables .pricing-item:nth-child(2) .item-inner {
    color: black;
    background: white;
    border: 3px solid green;
}

.item-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: left;
   padding-bottom: 20px;
   margin-bottom: 20px;
   border-bottom: 1px solid #D7D9DB;
}

.title *,
.price * {
   display: block;
}

.title b,
.price b {
   font-size: 18px;
   margin-bottom: 8px;
   font-weight: 500;
}

.title span,
.price span {
   font-size: 12px;
   color: #9c9ba1;
}

.price {
   padding: 8px 10px;
   border-radius: 6px;
   background: #EFF7FE;
}

.pricing-tables .pricing-item:nth-child(2) .item-header {
   border-bottom: 1px solid #222A3E;
}

.pricing-tables .pricing-item:nth-child(2) .price {
   background: rgb(239, 247, 254);
}

.pricing-tables .pricing-item:nth-child(2) .price span {
   background: rgb(239, 247, 254);
}

.features,.features_1 {
   list-style: none;
   text-align: left;
   margin-bottom: 30px;
}

.features li {
   margin-bottom: 10px;
   font-size: 14px;
}

.features li:before {
   display: inline-block;
   font-family: Linearicons-Free;
   font-style: normal;
   font-weight: 400;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   margin-right: 5px;
}

.features_1{
   margin-bottom: 50px;
}

.features_1 li {
   margin-bottom: 10px;
   font-size: 14px;
}

.features_1 li:before {
   display: inline-block;
   font-family: Linearicons-Free;
   font-style: normal;
   font-weight: 400;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   margin-right: 5px;
}

.pricing-button {
   text-decoration: none;
   display: block;
   font-size: 14px;
   height: 46px;
   line-height: 46px;
   border-radius: 6px;
   text-align: center;
   transition: .3s linear;
   border: 2px solid green;
   background-color: green;
   color: white;
   
}

.pricing-button:hover {
    background-color: white;
    color: green;
    border-color: green;
}

.button-1 {
    cursor: pointer;
    margin-top: 10px;
    padding: 15px 60px;
    color: #ffffff;
    font-size: 14px;
    letter-spacing:2.52px;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #ffffff;
    letter-spacing: 2.52px;
    transition: ease-in .20s;

}

.button-1:hover{
    background-color: green;
    color: white;
    border-color: green;
}   

@media(max-width:959px) {
   .pricing-item {
      width: 350px;
      margin: 0 auto 40px;
   }
}

@media(min-width:960px) {
   .tabs section {
      padding: 50px 0 40px;
   }

   .pricing-tables {
      display: flex;
      margin: 0 -10px;
   }

   .pricing-item {
      width: 33.333333333%;
      padding: 0 10px;
   }
}

@media(min-width:1120px) {
   .pricing-wrapper {
      width: 100%;
      max-width: 1060px;
      margin: 0 auto;
   }
}
 .disabled {
    color: gray;
    list-style-image: url(icons/icon-disabled.svg) ;
    font-weight: lighter;
}

.able, .able_1 {
   list-style-image: url(icons/icon-tick-green.svg) ; 
}

.able_1 {
    font-weight: bold;
}
.tabs {
    background: #151515;
    padding-bottom: 100px;
}

.abonuments-title {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 0;
}

.video {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.abonuments-text,
.schedule-text {
    font-weight: 100;
    color: white;
    font-size: 22px;
    margin-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    
}

.coutact_us {
    background-color: #f8f9fa!important;
}

.coutact_us-title{
    color: #000;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px 0px 15px 0px;
    margin-top: 0;
}

.contact_us-form-block {
    text-align: center;
    padding-bottom: 200px;
}

.coutact_us-text {
    margin-top: 15px;
    padding-bottom: 25px;
    font-family: "Muli",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-align: center;
    font-weight: 240;
    font-size: 1.2rem;
}

.form_control-LN,
.form_control-FN,
.form_control-EM,
.form_control-PN,
.form_control-TEXT,
.coutact_us-button{
    font-size: 17px;
    width: 50%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 50px;
    border: 2px solid #ced4da;
    outline: 0;
    font-family: "Muli",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.form_control-FN,
.form_control-LN {
    width: 23%;
    margin: 0 10px;
    margin-bottom: 10px;
}

.form_control-TEXT {
    height: 250px;
    line-height: 1.5;
    resize: vertical;
}

::placeholder {
    font-size: 17px;
    line-height: 1.5;  
}

input:hover,textarea:hover {
    border: 2.5px solid green;
    transition: .4s;
}

input,textarea {
    transition: .4s;
}

.coutact_us-button-block{
    padding-right: 382px;
}

.coutact_us-button {
    border: none;
    background-color: green;
    color: #ffffff;
    font-size: 13px;
    width: 370px;
    padding: 25px 0 37px 0;
    border-radius: 5px;
}

.coutact_us-button:hover {
    border: none;
    cursor: pointer;
}