body {
    background: url(backgrounds/background_1.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: "Muli",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 3px;
    position: relative;
    cursor: pointer;
}
a:hover{
    color: green;
}
a:after {
    color: green;
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: green; /* Цвет подчеркивания при исчезании линии*/
    transition: width .5s; /* Время эффекта */
}

a:hover:after {
    color: green;
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: green; /* Цвет подчеркивания при появлении линии*/
    transition: width .5s;  /* Время эффекта */
    
}
     

.basic_url {
    list-style-type: none; /* Убираем маркеры */
    display: inline-block;
    padding-left: 50px;
    padding-top: 20px;
}

.basic_urls {
    text-align: center;
    padding-right: 50px;
}

.basic_info {
    color: #fff;
    text-align: center;
    margin-top: 150px;
    font-family: "Muli",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h1 {
    font-size: 3.3rem;
    font-weight: 900;
    color: #fff;
}

.description_under_the_heading_1 {
    font-size: 20px;
    font-weight: 300;

}

.button-1 {
    cursor: pointer;
    margin-top: 10px;
    padding: 15px 60px;
    color: #ffffff;
    font-size: 14px;
    letter-spacing:2.52px;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #ffffff;
    letter-spacing: 2.52px;
    transition: ease-in .20s;

}

.button-1:hover{
    background-color: green;
    color: white;
    border-color: green;
}   
.our_advantages-block {
    background-color: white;
    margin-top: 200px;
    padding-bottom: 210px;
}


.our_advantages-title, 
.about_us-title {
    padding-top: 50px;
    font-size: 3.3rem;
    font-weight: 900;
    color: #000;
    text-align: center;
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

.advantages {
    display: inline-block;
}
.advantages_border{
    display: inline-block;
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: 3px solid transparent;
}

.advantages_border:hover {
    border: 3px solid #65994C; /* Параметры рамки */
    border-radius: 10px; /* Радиус скругления */
    transition:  0.5s; /* Время эффекта */
    transition-duration: 0.5s;

   } 
.advantages_border {
    transition: .35s;
}


.our_advantages {
    text-align: center;
}

.advantages_title {
    padding: 0px 0px 0px 0px;
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    color: green;
}

.advantages_img {
    height: 100px;
    width: 100px;
    padding-top: 30px;
}

.advantages_text{
    display: inline-block;
    padding: 0;
    line-height: 1.7;
    font-weight: 300;
    font-size: 1.1rem;
    color: #989898;
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding: 0px 30px;
}

.about_us {
    background: url(backgrounds/young-healthy-man-athlete-doing-exercise-with-the-ropes-in-gym-single-male-model-practicing-hard-and-training-his-upper-body-concept-of-healthy-lifestyle-sport-fitness-bodybuilding-wellbeing.jpg) no-repeat center center fixed;
    background-size: cover;
    padding-bottom: 100px;
}

.about_us-block {
    padding-top: 70px;
    text-align: center;
}

.about_us-title {
    color: #fff;
}

.about_us-text {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.7;
    color: #fff;
}
.get_started{
    padding-bottom: 4px;
    border-bottom: 1px solid white;
}

.schedule-block {
    background-color: #151515;
  
}

.schedule {
    text-align: center;
    padding-bottom: 150px;
}

.schedule-title {
    color:#fff;
    margin-top: 0;
    padding-top: 100px;

}

.classtime-table{
    color: white;
    text-align: center;
}

.classtime-table table tbody, tr, td {
    text-align: center;
    width: 100px;
    position: relative;
    z-index: 1;
    line-height: 1.5;
    text-align: center;
    background: #212121;
    padding: 26px 10px 28px;
    border-right: 1px solid #171717;
    border-bottom: 1px solid #171717;
    
}
h6 {
    margin: 0;
    padding: 0;
    color: green;
    font-size: 15px;
    padding-top: 5px;
}

th {
    font-size: 15px;
    padding: 15px 40px;
    border-collapse: collapse;
    border-bottom: 2px solid #F56433;
    border-top: 2px solid #F56433 ;
    color: #F56433;
}

table {
    border-collapse: collapse;
}

.workout-time{
    font-weight: bold;
}
